body{
    font-family: "Monaco",monospace;
}
.ch{
    color: darkgoldenrod;
    font-family: "Brush Script MT";
    font-style: oblique;
}
.center{
    display: block;
    margin-left: auto ;
    margin-right: auto;
    width: 60%;
}
.desc{
    font-style: oblique;
}
.d1{
    background-color: lightsalmon;
}
.d2{
    background-color: burlywood;
}
.d{
    background-color: rosybrown;
}