body{
    font-family: "Monaco",monospace;
}
#head{
    background-color: red;
    display: inline;
    border-radius: 10px;
    padding:5px;
}
.pasta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 5px solid purple;
    border-radius: 20px;
}
.move{
    background-color: chocolate;
    border-radius: 15px;
    font-style: oblique;
    display: inline;
    padding: 10px;
    text-align: center;
    margin: 850px;
}
.step{
    background-color: chocolate;
    border-radius: 15px;
    font-style: oblique;
    display: inline;
    padding: 10px;
    margin-right: 700px;
}
.gen{
    background-color: chocolate;
    font-style: oblique;
    display: inline;
    padding: 10px;
    border-radius: 15px;
}
.gen2{
    background-color: moccasin;
    padding: 5px;
    
}
#head{
    color:gold;
    font-style: oblique;
    font-family: "Brush Script MT";
}
.gen3{
    margin-left: 750px;
    padding-bottom: 10px;
    padding-right:15px;
    padding-top:10px;
    display: inline-block;
    background-color: moccasin;
}