body{
    font-family: "Monaco",monospace;
}
.pasta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.gen{
    background-color: chocolate;
    font-style: oblique;
}
.gen2{
    background-color: moccasin;
}
#head{
    color:gold;
    font-style: oblique;
    font-family: "Brush Script MT";
}