
.center{
    margin-left: 300px;
    padding: 50px 50px;
    height: 800px;
    width:65%;
    display: inline;
}
#odin{
    font-size: 100px;
    margin-top: -830px;
    margin-left: 720px;
    font-family: "Bebas Neue",monospace;
    color: beige;
    padding: 20px;
    display: block;
    }
.pasta{
    background-color: rgb(255,255,0);
    color:red;
    border: 1px;
    border-style: dashed;
    display: inline-block;
    padding: 1px 100px;
    margin-left: 770px;
    margin-right: 750px;
    margin-top: -130px;

    
}
.list{
    font-size: 30px;
}
#burger{
    background-color: rgba(222, 184, 135,0.5);
    color: green;
    border: 1px;
    border-style: dotted;
    display: inline-block;
    padding: 1px 87.5px;
    margin: auto 770px;
}
#cheese{
    background-color: rgba(218, 165, 32,0.5);
    color:blue;
    border: 1px;
    border-style: dashed;
    display: inline-block;
    padding: 1px 54.5px;
    margin: auto 770px;
}

a{
    color: black;
}
a:hover{
    color:blue;
}
