.head{
    /*background-image: url("bg.jpg");*/
    background-position: center;
    background-size: 830px 400px;
    background-repeat: no-repeat;
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: "Times New Roman";
    border: 0.5em solid;
}
.pasta{
    background-color: yellow;
    color:red;
    border: 1px;
    border-style: dashed;
}
.list{
    font-size: 30px;
}
#burger{
    background-color: burlywood;
    color: green;
    border: 1px;
    border-style: dotted;
}
#cheese{
    background-color: goldenrod;
    color:blue;
    border: 1px;
    border-style: dashed;
}
a{
    color: black;
}
a:hover{
    color:blue;
}
.center{
    height: auto;
    width: 98%;
    margin-top: -1000px;
    margin-bottom: 200px;
    margin-left: 0.4in;
    display: inline;
}
#odin{
    font-size: 100px;
    margin-top: -430px;
    margin-left: 710px;
    font-family: "Bebas Neue",monospace;
    color: beige;
    padding: 20px;
}